.Section4 {
   border-bottom: solid 2px rgba(116, 116, 116, 0.306);
   padding: 2rem 0 2rem 0;
    width: 100vw;
}
/* Small screens (up to 767px) */
@media (max-width: 767px) {
   .Section4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem 0 auto;
  }
  .section__img {
  }
  .section__img img {
    width: 100vw;
    padding: 0 10px 0 10px;
  }
  .section__text {
    font-family: var(--font-montserrat);
    text-align: center;
    padding: 0 1rem 0 1rem;
  }
  .section__text h1 {
    text-align: center;
    font-size: 5.5vw;
     padding: 0 14vw 0 14vw;
  }
  .section__text h1 span {
    color: rgba(212, 52, 254, 1);
  }
  .section__text p {
    font-size: 4vw;
    padding: 1rem 2rem 1rem 2rem;
    line-height: 1.5rem;
  }

  /* faq container  */
  
  .faq_container {
    margin: 1rem 2rem 0 2rem;
  }

  .faq_item {
    width: 100%;
    border-bottom: 1px solid rgba(212, 52, 254, 1);
  }

  .faq_question {
    cursor: pointer;
    padding: 2.2rem 1rem 1rem 1rem;
    text-align: center;
    width: 100%;
    border: none;
    outline: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .faq_question img {
  margin-left: 1.2rem;
 }
  /* CSS styles for small screens go here */
}

/* Medium screens (768px to 991px) */
@media (min-width: 768px) and (max-width: 991px) {
 .Section4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem 0 auto;
  }
  .section__img {
    margin: 5rem 0 5rem 0;
  }
  .section__img img {
    width: 100vw;
    padding: 0 10px 0 10px;
  }
  .section__text {
    font-family: var(--font-montserrat);
    text-align: center;
    padding: 0 3rem 0 3rem;
  }
  .section__text h1 {
    text-align: center;
    font-size: 5.5vw;
     padding: 0 14vw 0 14vw;
  }
  .section__text h1 span {
    color: rgba(212, 52, 254, 1);
  }
  .section__text p {
    font-size: 2vw;
    padding: 1rem 4rem 1rem 4rem;
    line-height: 1.5rem;
  }

  /* faq container  */
  
  .faq_container {
    margin: 1rem 2rem 0 2rem;
  }

  .faq_item {
    width: 100%;
    border-bottom: 1px solid rgba(212, 52, 254, 1);
  }

  .faq_question {
    cursor: pointer;
    padding: 2.2rem 1rem 1rem 1rem;
    text-align: center;
    width: 100%;
    border: none;
    outline: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .faq_question img {
  margin-left: 1.2rem;
 }
  /* CSS styles for medium screens go here */
}

/* Large screens (992px and above) */
@media (min-width: 992px) {
  .Section4 {
    display: flex;
    justify-content: center;
    margin: 5rem 0 auto;
  } 
  .section__img {
  
  }
  .section__img img {
   margin: 0 0 0 5rem;
   width: 40vw;
  }
  .section__text {
    margin: auto 0 auto;
    font-family: var(--font-montserrat);
  }
  .section__text h1 {
    width: 27rem;
  }
  .section__text h1 span {
    color: rgba(212, 52, 254, 1);
  }
  .section__text p {
    width: 26vw;
    font-size: 0.9rem;
    padding: 2rem 0 2rem;
    line-height: 1.5rem;
  }
  /* FAQ STYLE CONTAINER  */

  .faq_container {
    padding: 1rem 0 2rem 0;
  }

  .faq_item {
    border-bottom: 1px solid rgba(212, 52, 254, 1);
  }

  .faq_question {
    cursor: pointer;
    padding: 2.2rem 1rem 1rem 1rem;
    text-align: center;
    width: 100%;
    border: none;
    outline: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .faq_question img {
  margin-left: 2.2rem;
 }
  /* CSS styles for large screens go here */
}
