/* Small screens (up to 767px) */
@media (max-width: 767px) {
  .registerButton {
    min-width: 40vw;
    padding: 0.8rem 0 0.8rem;
    border: none;
    color: white; font-size: 1.1rem;
    border-radius: 5px;
    font-family: var(--font-montserrat);
    background: linear-gradient(
      to right,
      rgba(254, 52, 185, 1),
      rgba(212, 52, 254, 1),
      rgba(144, 58, 255, 1)
    );
     cursor: pointer;
  }
  /* CSS styles for small screens go here */
}

/* Medium screens (768px to 991px) */
@media (min-width: 768px) and (max-width: 991px) {
  .registerButton {
    min-width: 16vw;
    padding: 0.8rem 0 0.8rem;
    border: none;
    color: white; font-size: 1rem;
    border-radius: 5px;
    font-family: var(--font-montserrat);
    background: linear-gradient(
      to right,
      rgba(254, 52, 185, 1),
      rgba(212, 52, 254, 1),
      rgba(144, 58, 255, 1)
    );
     cursor: pointer;
  }
  /* CSS styles for medium screens go here */
}

/* Large screens (992px and above) */
@media (min-width: 992px) {
  .registerButton {
    min-width: 12vw;
    padding: 0.8rem 0 0.8rem;
    border: none;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    font-family: var(--font-montserrat);
    background: linear-gradient(
      to right,
      rgba(254, 52, 185, 1),
      rgba(212, 52, 254, 1),
      rgba(144, 58, 255, 1)
    );
     cursor: pointer;
  }
  /* CSS styles for large screens go here */
}
