.Section8 {
   border-top: solid 2px rgba(116, 116, 116, 0.306);
   padding: 3rem 0 2rem 0;
    width: 100vw;
}


/* Small screens (up to 767px) */
@media (max-width: 767px) {
   .Section8 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem 0 auto;
  }
  .section__img {
  }
  .section__img img {
    width: 100vw;
    padding: 0 10px 0 10px;
  }
  .section__text {
    font-family: var(--font-montserrat);
    text-align: center;
    padding: 0 1rem 0 1rem;
  }
  .section__text h1 {
    text-align: center;
    font-size: 5.5vw;
    padding: 1.5rem 0 0 0;
  }
  .section__text h1 span {
    color: rgba(212, 52, 254, 1);
  }
  .section__text p {
    font-size: 4vw;
    padding: 1rem 2rem 1rem 2rem;
    line-height: 1.5rem;
  }
  /* CSS styles for small screens go here */
}

/* Medium screens (768px to 991px) */
@media (min-width: 768px) and (max-width: 991px) {
 .Section8 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem 0 auto;
  }
  .section__img {
    margin: 5rem 0 5rem 0;
  }
  .section__img img {
    width: 80vw;
    padding: 0 10px 0 10px;
  }
  .section__text {
    font-family: var(--font-montserrat);
    text-align: center;
    padding: 0 3rem 0 3rem;
  }
  .section__text h1 {
    text-align: center;
    font-size: 5.5vw;
  }
  .section__text h1 span {
    color: rgba(212, 52, 254, 1);
  }
  .section__text p {
    font-size: 2vw;
    padding: 1rem 4rem 1rem 4rem;
    line-height: 1.5rem;
  }
  /* CSS styles for medium screens go here */
}

/* Large screens (992px and above) */
@media (min-width: 992px) {
  .Section8 {
    display: flex;
    justify-content: center;
    margin: 5rem 0 auto;
  } 
  .section__img {
  
  }
  .section__img img {
   margin: 0 0 0 5rem;
   width: 30vw;
  }
  .section__text {
    margin: auto 0 auto;
    font-family: var(--font-montserrat);
  }
  .section__text h1 {
    width: 27rem;
  }
  .section__text h1 span {
    color: rgba(212, 52, 254, 1);
  }
  .section__text p {
    width: 26vw;
    font-size: 0.8rem;
    padding: 1rem 0 1rem;
    line-height: 1.5rem;
  }
  /* css privacy policy box  */
  .policy_container {
    margin-top: 5rem;
    border: 1px solid rgba(212, 52, 254, 1);
    padding: 2rem 3rem 2rem 3.5rem;
  }

  .license h4 {
    margin-top: 2.5rem;
    color: rgba(212, 52, 254, 1);
  }

  .license p {
    /* width: 26vw; */
    font-size: 0.8rem;
    line-height: 1.5rem;
  }

  .license_list {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .license_list img {
    width: 16px;
    height: 16px;
  }

  .button {
    text-align: center;
  }

  .readMoreButton {
    margin-top: 1rem;
    min-width: 8vw;
    padding: 0.9rem 0 0.9rem;
    border: none;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    font-family: var(--font-montserrat);
    background: linear-gradient(
      to right,
      rgba(254, 52, 185, 1),
      rgba(212, 52, 254, 1),
      rgba(144, 58, 255, 1)
    );
     cursor: pointer;
  }







  /* CSS styles for large screens go here */
}
